<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Code Snippets by Delfi</title>
</head>

<body>
    <main>
        <%- include('header') %>
            <h2>Create snippet</h2>
            <form action="/snippet/create" method="post">
                <label for="code">Snippet</label>
                <input id="code" type="text" name="code">

                <input type="submit" value="Create!">
            </form>
    </main>

</body>

</html>