<h1>Code Snippets</h1>
<h2>by Delfi</h2>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/account/login">Login</a></li>
        <li><a href="/account/signup">Signup</a></li>
    </ul>
</nav>


