<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Code Snippets by Delfi</title>
</head>

<body>
    <main>
        <%- include('header') %>
            <h2>Code snippets</h2>
            <ul>
                <% snippets.forEach(snippet => { %>
                    <li>
                        <h4> Snippet </h4>
                        <code><%= snippet.code %></code>
                    </li>
              <%  }) %>
            </ul>
    </main>

</body>

</html>