<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Code Snippets by Delfi</title>
</head>

<body>
    <main>
        <%- include('header') %>
            <h2>Log in</h2>
            <form action="/account/login" method="post">
                <label for="username">Username</label>
                <input id="username" type="text" name="username">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <input type="submit" value="Log in">
            </form>
    </main>

</body>

</html>